@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #2563eb;
  --secondary: #1e293b;
  --danger: #ef4444;
  --bg-light: #f5f6f6;
  --radius: 6px;
}

body{
  font-family:"Roboto", sans-serif;
  background-color: var(--bg-light);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}